.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-grid-item.react-draggable-dragging {
  background: transparent !important; /* Removes the background */
  transition: none; /* Prevents animation effects */
}

.react-grid-item.cssTransforms {
  background: transparent !important; /* Keeps it clean during resizing */
}

.custom-toast {
  width: 450px !important;
  max-width: 600px; /* Optional: Limit the maximum width */
  white-space: pre-wrap;
  word-wrap: break-word; /* Ensure long words break correctly */
  padding: 10px 20px;
}

.disbled-child-site .MuiInputBase-root.Mui-disabled {
  background-color: #F3F3F3 !important;
  color: #090909 !important;
  border: #9A9A9A;
}

.disbled-child-site .MuiInputBase-input.Mui-disabled {
  color: #090909 !important;
}

.disbled-child-site .MuiInputLabel-root.Mui-disabled {
  color: #090909 !important;
}

.disbled-child-site .MuiOutlinedInput-input.Mui-disabled {
  color: #090909 !important;
  -webkit-text-fill-color: #090909 !important; /* For Chrome/Safari */
}

.exposeapi-users-table td, .exposeapi-users-table th {
    color: #000 !important;
}

.exposeapi-users-table table {
    min-width: 990px;
}


.cmn-pop-design-parent .MuiDialog-container > div{ 
width: auto !important
}